* {
  box-sizing: border-box;
}
#index_body {
  background-color: rgb(245, 233, 218);
}
h1,
h2,
h3 {
  text-align: center;
  font-family: cursive, sans-serif;
}
div {
  text-align: center;
}
.horizontal {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(9, 9, 9);
}

#chicken_salad,
#salmon_pic,
#chili_pic,
#lemon_cake {
  display: block;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: solid 3px;
  border-radius: 50%;
}

a {
  color: black;
}
a:hover {
  color: brown;
}
.recipes {
  text-align: center;
}
ul {
  text-align: center;
  list-style-position: inside;
}
